.hero-sheet__container {
  margin-bottom: 4rem;
}

.hero-sheet__description-container {
  display: flex;
  gap: 0.25rem;
  align-content: center;
  flex-wrap: wrap;
}

.hero-sheet__description-container .affinity__emblem {
  font-size: 1.25rem;
}

.hero-sheet__description-badge {
  display: flex;
  font-size: 1.25rem;
  margin-right: 0.25rem;
  gap: 0.25rem;
  align-content: center;
  line-height: 1.5rem;
  width: fit-content;
}

.hero-builder__stepper {
  justify-content: center;
  display: flex;
  align-content: center;
}

.hero-builder__form-buttons-container {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 1rem;
}

.hero-builder__form {
  margin-bottom: 4rem;
}

.item__card-header,
.mastery__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__card-header-emblem,
.mastery__card-header-emblem {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.item__card-header .fa-layers,
.mastery__card-header .fa-layers {
  font-size: 2rem;
}

.mastery__card-footer {
  display: flex;
  align-items: center;
}

.mastery__cooldown {
  height: 2rem;
  width: 2rem;
}

.mastery__cooldown-inactive {
  --fa-primary-color: var(--bs-gray-dark);
  --fa-secondary-color: var(--bs-gray);
}

.mastery__cooldown-active {
  --fa-primary-color: var(--bs-orange);
  --fa-secondary-color: var(--bs-red);
}
