.stepper__container {
  display: flex;
  font-size: 16px;
}

@media (max-width: 1199.98px) {
  .stepper__container {
    font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  .stepper__container {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  .stepper__container {
    font-size: 10px;
  }
}

@media (max-width: 575.98px) {
  .stepper__container {
    font-size: 8px;
  }
}

.stepper__emblem--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 3em;
}

.stepper__emblem--spacer {
  color: var(--bs-gray-700);
}

.stepper__emblem--spacer-complete {
  color: var(--bs-primary);
}
